{% extends 'base.html.twig' %}

{% block body %}
<h1>Dein Steckbrief wurde erstellt!</h1>
<p>Prüfe deine Emails um dich einzuloggen.</p>
<p>Dein Steckbrief wird für andere erst sichbar, nachdem du dich zum ersten Mal angemeldet hast.</p>
<p>Hast du nach 5 Minuten immer noch kein E-mail bekommen? <a href="mailto:it@mehalsgmues.ch?subject=Ernteteiler: Ich habe kein Email bekommen">Dann kontaktiere mich einfach. Ich schau, was ich machen kann.</a></p>
{% endblock %}
