<h3>Hier ist dein Login für den Ernteteiler.</h3>

<p>Hallo {{ user.name }}! Mit diesem allmächtigen Link erhältst du Zugriff zu den Steckbriefen.<br>

<p><a href="{{ url('login', {'key': user.loginKey}) }}">Einloggen</a>.</p>

<p>Viel Freude beim Teilen deines Ernteanteils.</p>

<p>PS: Vergiss nicht deinen Steckbrief wieder zu löschen, wenn du ihn nicht mehr brauchst. Das kannst du hier tun: <a href="{{ url('login', {'key': user.loginKey}) }}?redirect={{ path( 'profile_delete' )}}">Steckbrief löschen</a>.</p>
