<h3>Hier ist dein Login für den Ernteteiler.</h3>

<p>Hallo {{ user.name }}! Mit diesem allmächtigen Link erhälst du Zugriff zu den Steckbriefen.<br>

<p><a href="{{ url('login', {'key': user.loginKey}) }}">Einloggen</a>.</p>

<p>Viel Freude beim Teilen deines Ernteanteils.</p>
