<h3>Dein Steckbrief wurde erstellt.</h3>

<p>Hallo {{ profile.name }}! Dein Steckbrief wurde erfolgreich erstellt.<br>
Über folgenden Link kannst du andere Steckbriefe ansehen und kontaktieren. Ausserdem kannst du deinen eigenen Steckbrief damit stets überarbeiten, oder löschen.</p>

<p><a href="{{ url('login', {'key': profile.loginKey}) }}">Einloggen</a>.</p>

<p>Viel Freude beim Teilen deines Ernteanteils.</p>

<p>PS: Vergiss nicht deinen Steckbrief wieder zu löschen, wenn du ihn nicht mehr brauchst. Das kannst du hier tun: <a href="{{ url('login', {'key': profile.loginKey }) }}?redirect={{ path( 'profile_delete' )}}">Steckbrief löschen</a>.</p>
