{% extends 'base.html.twig' %}

{% block body %}
<h1>Auf Wiedersehen</h1>
<p>Wir hoffen du hast jemanden gefunden um dein Abo zu Teilen.</p>
<a class="button" href="{{ path('homepage') }}">Zurück</a>
{% endblock %}
