{% extends 'base.html.twig' %}

{% block body %}
<h1>Benutzer existiert nicht :-(</h1>
<p>Hast du deinen Steckbrief gelöscht?</p>
<p>Erstelle einen neuen, oder hole dir einen neuen Login-Link.</p>

<a class="button" href="{{ path('homepage') }}">Zurück</a>
{% endblock %}
